@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --bg-light--:       #fdfdfd;
    --bg-dark--:        #303030;
    /* --base-color----:        #303030; */
    /* --base-color----:        #303030; */
    /* --base-color----:        #303030; */
    --letter-1-color--: #e54123;
    --letter-2-color--: #f2dd04;
    --letter-3-color--: #009551;
    --letter-4-color--: #56a2b7;
    --agreement--:      #96cf4d;
    --denial--:         #ef3b1b;
    --orange--:         #ec6822;
    --black--:          #000000;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Moderustic", sans-serif;
    background-color: var(--bg-dark--);
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameContainer.active{
    border: 5px solid var(--letter-2-color--);
    border-radius: 20px;
    background-color: var(--black--);

}