@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
:root{
    --bg-light--:       #fdfdfd;
    --bg-dark--:        #303030;
    --letter-1-color--: #e54123;
    --letter-2-color--: #f2dd04;
    --letter-3-color--: #009551;
    --letter-4-color--: #56a2b7;
    --agreement--:      #96cf4d;
    --denial--:         #ef3b1b;
    --orange--:         #ec6822;
    --black--:          #000000;
    --blue-btn-deep3--: #4271fd;
    --blue-btn-deep2--: #7dbdf1;
    --blue-btn-deep1--: #accbeb;
    --green-btn-deep1--: #97ff98;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Moderustic", sans-serif;
    background-color: var(--bg-dark--);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.container{
    display: flex;
}
.btn{
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    border-radius: 15px;
    transition: transform .2s ease;
    user-select: none;
    outline: none;

}
.btn:hover{
    transform: scale(1.05);
}
i{
    font-size: 3rem;

}
a{
    text-decoration: none;
    color: inherit;

}
div{
    user-select: none;
}
.gameControls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 10vh;
}
.btn.controls{
    margin: 2rem;
    padding: 2rem;
    color: 0000;
    background-color: var(--letter-2-color--);
}
img{
    pointer-events: none;
    user-select: none;
}

#popUpMessage{
    position: absolute;
    top: -33rem;
    right: 7.5%;
    min-height: 33rem;
    min-width: 45rem;
    background-image: url('./../Assets/imgs/general/popUp_board.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    transition: all 1s ease;
}
#popUpMessage .popupText{
    position: relative;
    height: calc(31.3rem * .72);
    width: 90%;
    margin-left: 5%;
    margin-top: 22%;
    font-size: 3rem;
    font-family: "Moderustic", sans-serif;
    color: white;
}
#popUpMessage .popupText p{
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;

    justify-content: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    white-space: normal;
}

#game_Container.inactive{
    display: none;
}
#game_Container.inactive ~ .gameControls{
    display: none;
}
#game_Container{
    position: relative;
    max-height: 590px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    border: 10px solid var(--letter-2-color--);
    border-radius: 20px;
    background-color: var(--black--);
    background-image:linear-gradient(180deg, #4ba4ff, #fff);
    margin: 0 2rem;
}

/* HOME */

#game_Container.hm{
    border-radius:130px 20px 20px 20px ;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius:130px 10px 10px 10px;
    background-image: url('./../Assets/imgs/general/bg_ddd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
    opacity: .15;
}
.hm-c{
    width: 100%; 
    height: 40%;
}

.hm-c.bottom{
    height: 60%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.hm-logo{
    position: relative;
    width: 35%;
    height: 100%;
    z-index: 5;
}
.lg-earth{
    height: 50rem;
    transform: translate(-30%, -22.5%) rotate(-15deg);
}
.lg-clouds, .bg-gifs-clouds{
    position: absolute;
    height: 30rem;
    top: 0;
    z-index: 1;
}
.cl-1{
    top: -10%;
    left: 60%;
}
.cl-2{
    top: 50%;
    left: -40%;
    height: 25rem;
}

.hm-title{
    z-index: 5;

}
.title{
    float: right;
    height: 25rem;
}
.h-1{
    position: absolute;
    opacity: .75;
    bottom: 31%;
    right: 30%;
    height: 85%;
    z-index: 2;
    transform: scale(.9);
}
.wrapper{
    position: absolute;
    bottom: 0%;
    right: 27%;
    height: 100%;
    width: auto;
    overflow: hidden;
    z-index: 2;
}
.h-2{
    position: relative;
    opacity: .75;
    height: 85%;
    top: 30%;
    transform: scale(.9);
}
.h-1{
    transform: rotate(180deg);
    right: 55%;
}

.bottom .hm-menu{
    flex-direction: column;
    justify-content: center;
    float: left;
    height: 100%;
    padding: 0 4rem;
}
.hm-btn{
    margin-bottom: 2rem;
    padding: 1.5rem 6rem;
    font-size: 4rem;
    font-family: "Matemasie", sans-serif;
    border-radius: 15px;
    background-image: linear-gradient(135deg, #f0ff00, #ff8300, #ff4d00);
    color: white;
    z-index: 3;
    

}

.bg-gifs{
    position: absolute;
    height: 100%;
    width: 100%;

    & .bg-c1{
        height: 26rem;
        top: -19rem;
        left: -17rem;
    }

    & .bg-c2{
        height: 26rem;
        top: -19rem;
        right: -16rem;
    }

    & .bg-gifs-sun{
        position: absolute;
        height: 18rem;
        z-index: 2;
        top: -20%;
        right: 2rem;

    }

    & .bg-homeBtn{
        background: transparent;
        position: absolute;
        bottom: 0;
        left: 1rem;
        border-radius: 80% 80% 20px 20px;
        z-index: 10;
        cursor: pointer;

        & .bg-gifs-home{
            height: 12.5rem;
        }
    }
}

                                    /* ALFABETO */

.lt-header{

    position: relative;
    height: 27.5%;
    width: 100%;
    flex-direction: column;

    & .lt-hd-search {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        cursor: inherit;
    
        & .lt-hd-searchBar {
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            padding: 5px;
            width: 30%;
            border: 3px solid var(--letter-2-color--);
            outline: none;
            border-radius: 10px 0 0 10px;
            height: 50%;
        }
    
        & .lt-hd-searchBtn{
            height: 50%;
            width: 7.5%;
            padding: 5px;
            background-color: var(--letter-2-color--);
            border: 3px solid var(--letter-2-color--);
            border-radius: 0 10px 10px 0;
            font-size: 2rem;
            text-align: center;
    
        }
    }
    & .lt-hd-nav{
        height: 50%;
        width: 100%;
        padding: 0 10%;
        justify-content: space-between;

        & .hd-nav-filters{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            user-select: none;
        
            & .ft-btn-container{
                position: relative;

                & .filterBtn{
                    border: 1px solid var(--bg-light--);
                    border-radius: 10px;
                    padding: .3rem 1rem;
                    margin-right: 1rem;
                    height: 40%;
                    min-width: 100px;
                    text-align: center;
                    background: radial-gradient(circle, var(--blue-btn-deep1--) 20%, var(--blue-btn-deep2--) 30%, var(--blue-btn-deep3--));
                    color: var(--bg-light--);
                    font-size: 2rem;
                    font-family: "Matemasie", sans-serif;
                }
                
                & .ft-btn-rd{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                }
                
                & input:checked + label{
                    background: radial-gradient(circle, var(--green-btn-deep1--), var(--agreement--));
                    color: #000000;
                }
            }
        }

        & .grass{
            position: absolute;
            bottom: 0;
            height: 10%;
        }

        & .grass:nth-of-type(2){right: calc(10% + (0 * 6%));}
        & .grass:nth-of-type(3){right: calc(10% + (1 * 6%));}
        & .grass:nth-of-type(4){right: calc(10% + (2 * 6%));}
        & .grass:nth-of-type(5){right: calc(10% + (3 * 6%));}

        & .hd-nav-char2{
            position: absolute;
            bottom: 0;
            right: 12%;
            height: 95%;
        }
    }
    
}
.lt-main{
    height: 50%;
    width: 100%;
    padding: 0 10%;

    & .lt-mn-container{
        border: 3px solid var(--letter-2-color--);
        height: 100%;
        width: 100%;
        border-radius: 15px;
        background-color: black;
        padding: 3rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & .lt-card{
            border: 3px solid var(--letter-2-color--);
            height: 27rem;
            width: 27rem;
            background-color: var(--bg-light--);
            border-radius: 15px;

            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 0 auto;
        }
        
        & .lt-letter{
            height: 100%;
        }
        
        & .lt-sign{
            height: 80%;
        }

        & i{
            font-size: 6rem;
            color: var(--bg-light--);
        }
        
    }


    
}
.lt-footer{
    height: 22.5%;
    width: 100%;
    padding: 0 20%;
    position: relative;

    & .lt-ft-btns{
        height: 100%;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        & .ft-btn{
            padding: .5rem 2rem;
            background-image: radial-gradient(circle, #f0ff00, #ff8300, #ff4d00);
            color: var(--bg-light--);
            border-radius: 10px;
        }

        & .playBtn{
            position: absolute;
            bottom: 0;
            right: 0;
            color: var(--denial--);
            margin:  0 1rem;
            background-color: transparent;

            & i {
                font-size: 7rem;
            }
        }
    }

    

}

                                    /* Explorar */

.ex-header{
    height: 20%;
    width: 100%;
    position: relative;
    border: 1px silid var(--blue-btn-deep3--);

    & .birds{
        height: 90%;
        max-height: 100%;
        position: absolute;
        top: 0;
    }

    & .birds-right{
        transform: rotateY(180deg);
    }

    & .b-l:nth-child(1){
        left: 15%;
    }
    & .b-l:nth-child(4){
        right: 15%;
    }

    & .b-s:nth-child(2){
        transform: scale(.5);
        left: 25%;
        top: 9%;
    }
    & .b-s:nth-child(3){
        transform: scale(.5) rotateY(180deg);
        right: 25%;
        top: 9%;
    }
}
.ex-main{
    height: 70%;
    width: 100%;
    flex-direction: row;
    padding: 0 5%;
    
    & .searchContainer{
        height: 100%;
        width: 50%;
        flex-direction: column;

        & .exc-mn-search{
            height: 10%;
            width: 95%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: inherit;
            z-index: 5;
        
            & .exc-mn-searchBar{
                text-align: center;
                text-transform: uppercase;
                font-size: 2rem;
                padding: 5px;
                width: 80%;
                border: 3px solid var(--letter-2-color--);
                outline: none;
                border-radius: 10px 0 0 10px;
                height: 100%;
                outline: none;
            }
        
            & .exc-mn-searchBtn{
                height: 100%;
                width: 12.5%;
                padding: 5px;
                background-color: var(--letter-2-color--);
                border: 3px solid var(--letter-2-color--);
                border-radius: 0 10px 10px 0;
                font-size: 2rem;
                text-align: center;
                outline: none;
                color: #fff;
            }
        }

        & .wordSection{
            height: 90%;
            width: 100%;

            & .container{
                position: relative;
                height: fit-content;
                max-height: 67%;
                width: 100%;
                margin-top: 22%;
                border-radius: 15px;
                background-color: #000000;
                box-sizing: content-box;
                z-index: 3;
                overflow: hidden;

                & img{
                    position: relative;
                    height: 8rem;
                    max-height: 8rem;
                    align-self: end;
                }
                & p{
                    color: #fff;
                    font-size: clamp(4rem, 3rem, 2rem);
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: bold;
                    max-width: 68%;
                    width: 68%;
                    white-space: normal;
                    word-wrap: break-word;
                    margin-top: 2.5%;
                    height: fit-content;
                }
                & img:nth-of-type(2){
                    margin-left: auto ;
                }
            }
        }

    }
    & .signContainer{
        height: 100%;
        width: 50%;
        padding: 0 5%;

        & .access{
            border: 3px solid #4ba4ff;
            height: 90%;
            width: 100%;
            border-radius: 15px;
            background-color: #fff;
        }

    }
}
.ex-footer{
    height: 10%;
    width: 100%;
    position: relative;

    & .ex-grass{
        position: absolute;
        width: 10%;
        bottom: 0;
        right: 0;
    }

    & img:nth-of-type(1){right: 0;}
    & img:nth-of-type(2){right: calc(10% - 1%);}
    & img:nth-of-type(3){right: calc(20% - 2%);}
    & img:nth-of-type(4){right: calc(30% - 3%);}
    & img:nth-of-type(5){right: calc(40% - 4%);}
    & img:nth-of-type(6){right: calc(50% - 5%);}
    & img:nth-of-type(7){right: calc(60% - 6%);}
    & img:nth-of-type(8){right: calc(70% - 7%);}
    & img:nth-of-type(9){right: calc(80% - 8%);}
    
    & .ex-hand-slin{
        position: absolute;
        bottom: 0;
        left: 9%;
        height: 30rem;
    }

    & .ex-char3{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 300%;
        z-index: 1001;
    }
}





@media (max-height: 1080px){
    html{
        font-size: 52.5%;
    }
}
@media (max-height: 720px){
    html{
        font-size: 42.5%;
    }
}